## Inspecting Data Types

In [1]:
import pandas as pd
df_08 = pd.read_csv('data_08_for_04.csv')
df_18 = pd.read_csv('data_18_for_04.csv')

### Let's look at the `cyl` feature

In [2]:
# in 2008
df_08['cyl'].sample(5)

352    (6 cyl)
379    (4 cyl)
578    (6 cyl)
249    (4 cyl)
402    (6 cyl)
Name: cyl, dtype: object

In [3]:
# in 2018
df_18['cyl'].sample(5)

96     8.0
677    4.0
396    4.0
656    6.0
271    6.0
Name: cyl, dtype: float64

> `cyl` is string in 2018 and Float in 2018

### Let's look at the `air_pollution_score` feature

In [4]:
# check the type of one sample of air_pollution_score
type(df_08['air_pollution_score'][0])

str

In [5]:
# check the type of one sample of air_pollution_score
type(df_18['air_pollution_score'][0])

numpy.int64

In [6]:
# is the data the same type across the two dataframes?
type(df_08['air_pollution_score'][0]) == type(df_18['air_pollution_score'][0])

False

## How about for some other columns?

In [7]:
# first, what columns are there?
df_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'veh_class',
       'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

### MPG data
* city_mpg
* hwy_mpg
* cmb_mpg

In [8]:
# Let's look at some data for 2008
df_08.city_mpg.sample(5)

519    14
5      18
745    15
471    15
1      17
Name: city_mpg, dtype: object

In [9]:
# Let's look at some data for 2018
df_18.city_mpg.sample(5)

411       16
24        19
327    12/17
481       17
202       18
Name: city_mpg, dtype: object

In [10]:
# what is type of data for city_mpg column?
type_08 = type(df_08.city_mpg[0])
print('2008 data, city_mpg column: {}'.format(type_08))
type_18 = type(df_18.city_mpg[0])
print('2018 data, city_mpg column: {}'.format(type_18))
type_08 == type_18

2008 data, city_mpg column: <class 'str'>
2018 data, city_mpg column: <class 'str'>

True

In [11]:
# what is type of data for city_mpg column?
type_08 = type(df_08.hwy_mpg[0])
print('2008 data, hwy_mpg column: {}'.format(type_08))
type_18 = type(df_18.city_mpg[0])
print('2018 data, hwy_mpg column: {}'.format(type_18))
type_08 == type_18

2008 data, hwy_mpg column: <class 'str'>
2018 data, hwy_mpg column: <class 'str'>

True

In [12]:
# what is type of data for city_mpg column?
type_08 = type(df_08.cmb_mpg[0])
print('2008 data, cmb_mpg column: {}'.format(type_08))
type_18 = type(df_18.cmb_mpg[0])
print('2018 data, cmb_mpg column: {}'.format(type_18))
type_08 == type_18

2008 data, cmb_mpg column: <class 'str'>
2018 data, cmb_mpg column: <class 'str'>

True

### Check out `greenhouse_gas_score`

In [13]:
# let's look at some data for 2008
df_08.greenhouse_gas_score.sample(5)

432    6
156    8
620    5
842    6
41     3
Name: greenhouse_gas_score, dtype: object

In [14]:
# let's look at some data for 2018
df_18.greenhouse_gas_score.sample(5)

477     7
763     4
675     5
52     10
46      6
Name: greenhouse_gas_score, dtype: int64

In [15]:
# what data type in 2008?
type(df_08.greenhouse_gas_score[0])

str

In [16]:
# what data type in 2018?
type(df_18.greenhouse_gas_score[0])

numpy.int64

In [17]:
# are they the same?
type(df_08.greenhouse_gas_score[0]) == type(df_18.greenhouse_gas_score[0])

False